# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/projectSettingsUpdater.xml
/contentModel.xml
/.idea.COVIDVACCSYSTEM.iml
/modules.xml
# Datasource local storage ignored files
/../../../../../../../../../../:\Users\joelb\OneDrive\Documentos\ProyectoPOO\proyecto-final-grupo-14\.idea\.idea.COVIDVACCSYSTEM.dir\.idea/dataSources/
/dataSources.local.xml
